body {
    width: 801px;
    
    color: #bacedc;
    font-family: sans-serif;
    
}
.border {
    border: 8px solid;
    background-image: linear-gradient(#3c4e5e, black);
}
header {
    margin: 0 2%;
}

.header-grid {
    display: flex;
    justify-content: space-between;
}
.header-box span {
    font-weight: bold
}
.header-box i {
    position: relative;
    top: 20%;
}

.header-box p {
    text-align: right;
    font-size: 1.3em;
}

#mid {
    text-align: center;
}

.center {
    text-align: center;
    margin-bottom: 2em;
}

.center h1 {
    font-size: 3em;
    margin-top: 0;
}

.center p {
    font-size: 1.7em;
}

.weekly-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5%;
}

.weekly-box {
    text-align: center;
    padding-bottom: 2em;
}

#top {
    border-bottom: 2px solid;

}
